{% extends "_menu.html" %}

{% load i18n %}

{% load bootstrap %}

{% block head_title %}{{ object }}{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <legend>
                {% if object.is_staff %}
                <a href="{% url "staff_update" object.pk %}">{{ object.username }}</a>
                {% if object.image %}
                <a href="{% url "product:image_detail" object.slug %}" 
                    class="btn btn-default" role="button">
                    <img src="{{ object.image.crop.22x22 }}" class="img-responsive"/></a>
                {% endif %}
                {% else %}
                <a href="{% url "client_update" object.pk %}">{{ object.full_family_name }}</a>
                {% endif %}                
            </legend>            
            {% if not object.is_active %}
            <ul>
                <p><strong><h3 style="color:#ff4000;">Deactivated</h3></strong></p>
            </ul>
            {% endif %}
            {% if object.account.initial_password %}
                <ul>
                    <p><strong><h4>Initial password: </h4><h3 style="color:#ff4000;">{{ object.account.initial_password }}</h3></strong></p>
                </ul>
            {% endif %}
        </div>
    </div>   
    <li class="list-group-item">
        <ul>
          <dl>
            <dt>Info: {{ object.description }}</dt>
                <dd>Name: {{ object.first_name }}</dd>
                {% if object.account.spouse_name %}
                <dd>Spouse: {{ object.account.spouse_name }}</dd>
                {% endif %}
                <dd>Last Name: {{ object.last_name }}</dd>
                <dd>Phone: {{ object.account.main_phone }}</dd>
                {% if object.account.alt_phone %}
                <dd>Alternate phone: {{ object.account.alt_phone }}</dd>
                {% endif %}
                <dd>Email: {{ object.email }}</dd>
                <dd>Address: {{ object.account.get_address }}</dd>
                <dd>Since: {{ object.date_joined }}</dd>
            {% if object.is_staff %}
            <dt>Permissions:</dt>
              {% if object.is_financial %}
              <dd>                    
              Financial               
              </dd>
              {% endif %}
              {% if object.is_manager %}
              <dd>                    
              Manager                   
              </dd>
              {% endif %}
              {% if object.is_warehouse %}
              <dd>                    
              Warehousing                   
              </dd>
              {% endif %}
              {% if object.is_maintenance %}
              <dd>                    
              Maintenance                  
              </dd>
              {% endif %}
              {% if object.is_service %}
              <dd>                    
              Service                   
              </dd>
              {% endif %}
              <dd>                    
              Staff                   
              </dd>
            {% endif %}                      
          </dl> 
        </ul>
    </li>  
{% endblock %}  
 