{% extends "theme_bootstrap/subnav_base.html" %}

{% load i18n %}

{% block subnav %}
<div class="panel panel-default">
    <div class="panel-heading"><strong>{% trans "Service Menu" %}</strong></div>
    <div class="list-group">
        <a class="list-group-item" href="{% url 'service:base_service_list' %}">
            {% trans "Services" %}
        </a>
        <a class="list-group-item" href="{% url 'service:base_service_create' %}">
            {% trans "Add service" %}
        </a>
        <a class="list-group-item" href="{% url 'service:base_service_create' %}">
            {% trans "Add category" %}
        </a>
    </div>
</div>
{% endblock %}
