{% extends "_menu.html" %}

{% load i18n %}

{% load bootstrap %}

{% block head_title %}{{ object }}{% endblock %}

{% block full %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <legend><a href="{% url "service:service_update" object.slug %}">{{ object }} - ({{ object.base }})</a></legend>
            {% include "_delete_option.html" %}
        </div>
    </div>
    {% if object.service_no_longer_available %}
    <li class="list-group-item">
        <ul>
            <dl>
              <dt>We<strong>no longer provide this service</strong></dt>
    {% else %}
    <li class="list-group-item">
        <ul>Hours: {{ all_time|floatformat:2 }}</ul> 
        <ul>Cost: ${{ all_cost|floatformat:2 }}</ul>              
    </li>
    <li class="list-group-item">
        <ul>
            <dl>
              <dt>Parts required:</dt>
              {% if parts_list %}
                <dd>{% autoescape on %}
                        {{ parts_list | linebreaksbr }}
                    {% endautoescape %}
                </dd>
              {% else %}
                <dd>None</dd>
              {% endif %}
              <dt>Job tools required:</dt>
              {% if object.get_job_tools %}
                <dd>{% autoescape on %}
                        {{ object.get_job_tools | linebreaksbr }}
                    {% endautoescape %}
                </dd>
              {% else %}
                <dd>None</dd>
              {% endif %}
              <dt><a href="{% url 'equipment:job_tool_and_category_list' "personal-tools" %}">
                Personal tools required</a></dt>
            </dl>
        </ul>
    </li>  
    {% endif %}
{% endblock %}

