{% extends "service/service_menu.html" %}

{% load i18n %}
{% load bootstrap %}

{% block body_class %}service services-detail{% endblock %}

{% block head_title %}{% trans "Service" %}{% endblock %}

{% block body %}
    <div class="panel panel-default">
    {% if request.user.is_manager or request.user.is_superuser %}
        <div class="panel-heading">
            <legend>{{ object.option }} - ({{ object.base_type.category }}) 
                <a href="{% url "service:base_variety_update" object.slug %}" 
                    class="btn btn-default" role="button">Update
                </a>
                {% if request.user.is_superuser %}
                    <a href="{% url "service:base_variety_delete" object.slug %}" 
                        class="btn btn-warning" role="button">Delete
                    </a>
                {% endif %}
            </legend>
        </div>
    </div>
    
        {% if object.no_longer_available %}
            <ul>
                <p>As of: {{ object.discontinued }}, Creative Closets 
                    <strong>no longer support this service</strong>
                </p>
            </ul>
        {% else %}
        <li class="list-group-item">
            <ul>Admin: {{ object.admin_time }} hrs / {{ object.admin_material }} units</ul>
            <ul>Prep: {{ object.prep_time }} hrs / {{ object.prep_material }} units</ul>
            <ul>Field: {{ object.field_time }} hrs / {{ object.field_material }} units</ul>
        </li>
            <li class="list-group-item">
            <ul>Total: {{ object.unit_total_time }} hrs / {{ object.unit_total_cost }} units</ul>
        </li>
            <li class="list-group-item">
            <ul>Offered since: {{ object.initial_usage }}</ul>
        </li>
        <br>   
        {% endif %}
  
    {% else %}
    <div class="panel-heading">
        <strong>{% trans "You do not have permision for this operation" %}</strong>
        <input class="btn-xs btn-warning" 
                       type="button" value="{% trans "Go Back" %}" 
                       onclick="window.history.go(-1);"/>
    </div>
    {% endif %}
{% endblock %}
        