{% extends "_menu.html" %}

{% load i18n %}

{% load bootstrap %}

{% block head_title %}{{ title }}{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <legend>{{ object }} 
                <a href="{% url "product:base_product_update" object.slug %}" 
                    class="btn btn-default" role="button">Update
                </a>
                {% if request.user.is_superuser %}
                    <a href="{% url "product:base_product_delete" object.slug %}" 
                        class="btn btn-warning" role="button">Delete
                    </a>
                {% endif %}
            </legend>
        </div>
    </div>

{% endblock %}