{% extends "list.html" %}

{% block links %}           
  <a href="{% url 'product:base_product_create' %}">New Category</a>
{% endblock %}

{% block body_options %}
  {% for obj in object_list %}
  <li class="list-group-item">
    <ul>
      <dt><a href="{% url "product:base_product_update" obj.slug %}">{% if obj.base %} 
        {{ obj.base }} - {% endif %} {{ obj }}</a></dt>
        <dd><a href="{% url "product:category_item_list" obj.slug %}">List</a> ~~ <a href="{% url 'product:base_item_create' obj.slug %}">Add product to {{ obj.category }}</a></dd>
    </ul>
  </li>
  {% endfor %}
{% endblock %}
