{% extends "_menu.html" %}

{% load i18n %}

{% load bootstrap %}

{% block head_title %}{{ title }}{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <legend>{{ title }}
                <a href="{% url 'company:company_create' %}" 
                class="btn btn-default" role="button">Add
                </a>
            </legend>
        </div>
    </div>
        {% for obj in object_list %}
            <li class="list-group-item">
                {% if obj.slug != 'any-store' %}
                <a href="{{ obj.get_absolute_url }}">{{ obj }}</a>
                {% else %}
                {{ obj }}
                {% endif %}
                {% if obj.no_longer_use %}
                 - Do not use!
                {% endif %}
                <a href="{% url "product:supplier_item_list" obj.slug %}" 
                    class="btn btn-default" role="button">Products
                </a>
                <a href="{% url 'product:supplier_item_create' obj.slug %}" 
                    class="btn btn-default" role="button">Add product
                </a>
                <a href="{% url "product:supplier_item_list" obj.slug %}" 
                    class="btn btn-default" role="button">Tools
                </a>
                <a href="{% url 'equipment:base_list' %}" 
                    class="btn btn-default" role="button">Add tool
                </a>
            </li>
        {% endfor %}
{% endblock %}
