{% extends "_menu.html" %}

{% load i18n %}

{% load bootstrap %}

{% block head_title %}{{ title }}{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <legend>{{ object }}</legend>
        </div>
    </div>
    <div class="list-group">
        <li class="list-group-item">
            <a href="{% url "product:image_update" object.slug %}"><img src="{{ object.image.crop.800x800 }}" class="img-responsive"/></a>
        </li>         
    </div>
{% endblock %}

