{% extends "list.html" %}

{% block links %}
  <a href="{% url 'product:item_create' %}">New Item</a>
{% endblock %}

{% block body_options %}
  {% for obj in object_list %}
    <li class="list-group-item">
      <ul>
        <dt><a href="{{ obj.get_absolute_url }}">{{ obj }}</a> ~ <a href="{% url 'product:item_add_damaged' obj.slug %}">Add Damaged</a> ~ <a href="{% url 'product:item_add' obj.slug %}">Add to Quantity</a> </dt>
        <dt>
          {% if obj.supplier.no_longer_use %}
             ~ supplier discontinued ~ {{ obj.discontinued }}
          {% endif %}
          {% if obj.no_longer_available %}
             ~ no longer use this product as of {{ obj.discontinued }}           
          {% elif obj.order_now %}
             ~ ORDER NOW
          {% endif %}
        </dt>
      </ul>
    </li>       
  {% endfor %}
{% endblock %}
