{% extends "ooks/ooks_menu.html" %}

{% load i18n %}

{% load bootstrap %}

{% load crispy_forms_tags %}

{% block body_class %}service services-form{% endblock %}

{% block head_title %}{% trans "Service" %}{% endblock %}

{% block body %}
    <div class="panel panel-default">
        {% if request.user.is_manager or request.user.is_superuser %}
        <div class="panel-heading">
            <legend>Category 
                <input class="btn btn-default" 
                       type="button" value="{% trans "Cancel" %}" 
                       onclick="window.history.go(-1);"/>
            </legend>
        </div>
        <div class='list-group'>
          <form method='post'>
            {% crispy form %}
            {{ book_form.management_form }}
            {{ book_form.non_form_errors }}

            {% crispy book_form book_formhelper %}
            <input class='btn btn-primary' type='submit' value='Save'>
          </form>
        <div> 
    </div>
    {% else %}
    <div class="panel-heading">
        <strong>{% trans "You do not have permision for this operation" %}</strong>
        <input class="btn btn-warning" 
                       type="button" value="{% trans "Go Back" %}" 
                       onclick="window.history.go(-1);"/>
    </div>
    {% endif %}
{% endblock %}