{% extends "_menu.html" %}

{% load i18n %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

{% block head_title %}{{ title }}{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <legend>{% if object.get_absolute_url %}<a href="{{ object.get_absolute_url }}">{{ title }}</a> {% else %}{{ title }}{% endif %}
                {% block edit %}{% endblock %}
                {% if object.extra %}
                    {{ object.extra }}
                {% endif %}
            </legend>
            {% if balance %}
            <strong style="color:#ff4000;">Current balance due: ${{ balance }}</strong>
            {% endif %}
            {% include "_delete_option.html" %}       
            <div class="list-group">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input class="btn btn-default" 
                           type="button" value="{% trans "Cancel" %}" 
                           onclick="window.history.go(-1);"/>
                    <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>               
                </form>
            </div> 
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
