{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load account_tags %}
{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

<div style="background: url({% static 'images/clothesline.jpg' %}) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
">
    <section class="jumbotron" style="background-color: transparent;">

        <div class="container" style="color: rgb(247, 248, 249); font-size: 50px; background-color: transparent; text-shadow: rgb(0, 0, 0) 0px 4px 5px;">
            {% include "_messages.html" %}
            <h1><bold>{% blocktrans %}Welcome to the Lehigh Valley Lint Removal Account Management App{% endblocktrans %}</bold></h1><br>
            <p>

                {% if not user.is_authenticated %}
                {% url "account_login" as login_url %}
                {% url "account_signup" as signup_url %}
                {% blocktrans %}
                <p class="text-center">Please <a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to use this service.</p>
                {% endblocktrans %}
                {% endif %}
                
            </p>
            <h2>More info here.</h2>
        </div>
        
    </section>
    <section style="background-color: transparent;">
        <div class="container" style="color: rgb(247, 248, 249); font-size: 50px; background-color: transparent; text-shadow: rgb(0, 0, 0) 0px 4px 5px;">
            <br>
            <h2>Some more info here.</h2>
            <br>
        </div>
    </section>
    <section style="background-color: transparent;">
        <div class="container" style="color: rgb(247, 248, 249); font-size: 50px; background-color: transparent; text-shadow: rgb(0, 0, 0) 0px 4px 5px;">
            <p class="lead text-center">
                {% blocktrans %}
                <h2>More info here.</h2>
                <div ng-app="myApp" ng-controller="myCtrl">
{{ firstName + " " + lastName }}
</div>
<script>
var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope) {
    $scope.firstName = "John";
    $scope.lastName = "Doe";
});
</script>
                {% endblocktrans %}
            </p>
        </div>
    </section style="background-color: transparent;"></div>
{% endblock %}

