{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Server Error" %}{% endblock %}

{% block body %}
    <header class="jumbotron subhead text-center" id="overview">
        <h1>{% trans "Action needed" %}</h1>
        <p class="lead">{% trans "Please CHANGE YOUR TEMPORARY PASSWORD to access the site. Required for security reasons." %}</p>
        <a href="{% url "account_password" %}"><input class="btn btn-warning" 
	               type="button" value="{% trans "Change Password Now" %}" /></a>
    </header>
{% endblock %}