{% extends "_menu.html" %}

{% load i18n %}

{% load bootstrap %}

{% block head_title %}{{ title }}{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <legend>{{ object }}</legend>
            <ul><strong>Current Net Income against Cost:</strong> ${{ object.get_balance_sheet }}</ul>
            <ul><strong>Projected Net Profit:</strong> ${{ object.get_projected_balance_sheet }} *excluding taxes.</ul>
            {% if object.customer_conflicts %}
            <ul>There 
                {% if object.customer_conflicts > 1 %} are <strong style="color:#ff4000;"> {{ object.customer_conflicts }} customer <a href="{% url "customer_finance:invoice_lists" "conflicted" %}">conflicts</a></strong> 
                {% else %} is a <strong style="color:#ff4000;">customer <a href="{% url "customer_finance:invoice_lists" "conflicted" %}">conflict</a></strong>
                {% endif %} 
                pending.
            </ul>
            {% endif %}
            {% if object.operational_conflict > 0 %}
            <ul>There 
                {% if object.operational_conflict > 1 %} are <strong style="color:#ff4000;"> {{ object.operational_conflict }} operational billing conflicts</strong> 
                {% else %} is an <strong style="color:#ff4000;">operational billing conflict</strong>
                {% endif %} 
                pending, <a href="{% url "operation_finance:invoice_conflict_list" %}">see notes</a>.
            </ul>
            {% endif %}
        </div>
    </div>
    <li class="list-group-item">
        <ul><strong>Client</strong></ul>
        <ul>Client total invoiced: ${{ object.client_tot_invoiced }}</ul>
        <ul>Client taxes invoiced: ${{ object.taxes_invoiced }}</ul>
        <ul>Client {% if object.client_balance != 0 %}
            <a href="{% url "customer_finance:invoice_lists" "owed" %}">outstanding cost
            </a>
            {% else %}balance
            {% endif %}: ${{ object.client_balance }}</ul>
    </li>
    <li class="list-group-item">
        <ul><strong>Operation</strong></ul>
        <ul>Operations total cost: {{ object.operation_tot_expenses }}</ul>
        <ul>Operation {% if object.operation_balance != 0 %}
            <a href="{% url "operation_finance:invoice_owed_list" %}">outstanding cost
            </a>
            {% else %}balance
            {% endif %}: {{ object.operation_balance }}</ul>
    </li>        
{% endblock %}

