{% extends "_menu.html" %}

{% load i18n %}

{% load bootstrap %}

{% block head_title %}{{ object }}{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <legend>{{ object }}</legend>
            <ul><strong>Current net income before tax against cost:</strong> ${{ net_profit }}</ul>
            <ul><strong>Projected income before tax:</strong> ${{ projected_before_tax|floatformat:2 }}</ul>
        </div>
    </div>
    <li class="list-group-item">
        <ul><strong>Client Revenue</strong></ul>
        <ul>Client invoice count: {{ customers_count }}</ul>
        <ul>Client total invoiced: ${{ customers_total }}</ul>
        <ul>Client taxes invoiced: ${{ customers_taxes }}</ul>
        <ul>Client invoiced net: ${{ customers_profit }}</ul>
        <ul>Client {% if customers_balances != 0 %}
            <a href="{% url "customer_finance:invoice_lists" "owed" %}">outstanding cost
            </a>
            {% else %}balance
            {% endif %}: $ {{ customers_balances }}
        </ul>
        <ul>Client conflicts: {{ customers_conflicts }}, with {% if customers_unresolved_conflicts != 0 %}
            <a href="{% url "customer_finance:invoice_lists" "conflicted" %}">{{ customers_unresolved_conflicts }} 
            </a>
            {% else %}{{ customers_unresolved_conflicts }}
            {% endif %}
            outstanding
        </ul>
    </li>
    <li class="list-group-item">
        <ul><strong>Operational Costs</strong></ul>
        <ul>Operations total invoices: {{ operation_count }}</ul>
        <ul>Operations total cost: {{ operation_expenses }}</ul>
        <ul>Operation {% if operation_balances != 0 %}
            <a href="{% url "operation_finance:invoice_lists" "owed" %}">outstanding cost
            </a>
            {% else %}balance
            {% endif %}: {{ operation_balances }}
        </ul>
        <ul>Operation conflicts: {{ operation_conflicts }}, with {% if operation_unresolved_conflicts != 0 %}
            <a href="{% url "operation_finance:invoice_lists" "conflicted" %}">{{ operation_unresolved_conflicts }} 
            </a>
            {% else %}{{ operation_unresolved_conflicts }}
            {% endif %}
            outstanding
        </ul>
    </li>
    <li class="list-group-item">
        <ul><strong>Payroll</strong></ul>
        <ul>Operations total invoices: {{ operation_count }}</ul>
        <ul>Operations total cost: {{ operation_expenses }}</ul>
        <ul>Operation {% if operation_balances != 0 %}
            <a href="{% url "operation_finance:invoice_lists" "owed" %}">outstanding cost
            </a>
            {% else %}balance
            {% endif %}: {{ operation_balances }}
        </ul>
        <ul>Operation conflicts: {{ operation_conflicts }}, with {% if operation_unresolved_conflicts != 0 %}
            <a href="{% url "operation_finance:invoice_lists" "conflicted" %}">{{ operation_unresolved_conflicts }} 
            </a>
            {% else %}{{ operation_unresolved_conflicts }}
            {% endif %}
            outstanding
        </ul>
    </li>        
{% endblock %}

