{% extends "_menu.html" %}

{% load i18n %}

{% load bootstrap %}

{% block head_title %}{{ title }}{% endblock %}

{% block full %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <legend>
                <a href="{% url "customer_finance:invoice_update" object.slug %}">{{ object }}</a> - Invoice 
            </legend>
            {% if object.invoice_quote %}
                <ul>Customer was quoted <strong style="color:black">${{ object.invoice_quote.total_price_quoted }}</strong>
                 - <a href="{% url "customer_finance:invoice_give_quote" object.slug %}">Re-quote
                </a></ul>
                <ul><a href="{% url 'customer_finance:invoice_pdf' slug=object.slug %}">{% trans "Create Printable Invoice" %}</a></ul>
            {% else %}
                <ul style="color:#ff4000;">Customer was not quoted a price yet - <a href="{% url "customer_finance:invoice_give_quote" object.slug %}">Quote
                </a></ul>
            {% endif %}
            {% if object.invoice_quote.total_price_quoted %}
                {% if object.get_balance_due > 0 %}
                <ul style="color:#ff4000;"><a href="{% url "customer_finance:alteration_create" object.slug %}">Balance Due</a>: ${{ object.get_balance_due|floatformat:2 }}</ul>
                {% elif object.paid_in_full %}<ul>Paid in full</ul>
                {% elif object.over_paid %}<ul><a href="{% url "customer_finance:alteration_create" object.slug %}"><strong style="color:#ff4000;">OVER PAID</strong></a>: ${{ object.get_balance_due|floatformat:2 }}   
                </ul>
                {% endif %}                
            {% endif %}
            {% if object.invoice_quote.total_price_quoted and not object.paid_in_full %}
            {% endif %}
        </div>
            {% if object.conflict.all %}
            <li class="list-group-item">
                {% for conflicts in object.conflict.all %}
                <ul><strong style="color:#ff4000;">Conflict:</strong> "<a href="{% url 'customer_finance:conflict_update' slug=conflicts.slug %}">{{ conflicts.conflict_description }}</a>" - {{ conflicts.origin }}  {% if conflicts.conflict_resolution %}<br><strong style="color:black">Resolved</strong>: "<a href="{% url 'customer_finance:conflict_resolve' slug=conflicts.slug %}">{{ conflicts.conflict_resolution }}</a>" - {{ conflicts.last_modified }}{% else %} - <a href="{% url 'customer_finance:conflict_resolve' slug=conflicts.slug %}">{% trans "Resolve" %}</a>{% endif %}</ul>
                {% endfor %}
            </li>
            {% endif %}
            {% if object.note %}
            <li class="list-group-item">
                <ul>Notes: {{ object.note }}</ul>
            </li>
            {% endif %}
            <li class="list-group-item">
                <ul>Order: {{ object.work_order }}</ul>
                <ul>Pricing: {{ object.pricing }}</ul>
                <ul>Costs before tax: ${{ object.get_cost|floatformat:2 }}</ul>
                <ul>Sales Tax: ${{ object.total_tax|floatformat:2 }} at {{ object.tax }}%</ul>
                <ul><strong>Total including taxes: ${{ object.total_after_tax|floatformat:2 }}</strong></ul>         
            </li>
            <li class="list-group-item">
                <ul>
                    <dl>
                      <dt>Payments/Fees:</dt>
                      {% if object.payment_schedule %}
                        <dd>{% autoescape on %}
                                {{ object.payment_schedule | linebreaksbr }}
                            {% endautoescape %}
                        </dd>
                      {% else %}
                        <dd>None</dd>
                      {% endif %}                       
                    </dl>
                    <dl>
                      <dt>Log:</dt>
                      {% if object.log %}
                        <dd>{% autoescape on %}
                                {{ object.log | linebreaksbr }}
                            {% endautoescape %}
                        </dd>
                      {% else %}
                        <dd>None</dd>
                      {% endif %}                       
                    </dl>
                </ul>
            </li>         
    </div>
{% endblock %}
