{% extends "list.html" %}

{% block links %}
  <a href="{% url "operation_finance:invoice_create"%}">
    New Invoice
  </a><br>
  <a href="{% url "operation_finance:invoice_lists" "owed" %}">
    Invoices wth Balances
  </a><br>
  <a href="{% url "operation_finance:invoice_lists" "conflicted" %}">
    Invoices wth Conflicts
  </a><br>
  <a href="{% url "operation_finance:invoice_lists" "active" %}">
    All Active Invoices
  </a><br>
  <a href="{% url "operation_finance:invoice_lists" "all" %}">
    All Invoices
  </a>
{% endblock %}

{% block body_options %}
  {% for obj in object_list %}
    <li class="list-group-item">
      <ul>
        <dt><a href="{% url 'operation_finance:invoice_detail' slug=obj.invoice.slug %}">{{ obj }}</a></dt>
          <dd>Conflict: <a href="{{ obj.get_absolute_url }}">"{{ obj.conflict_description }}"</a> On: {{ obj.origin }}</dd>
        <dt><a href="{% url "operation_finance:conflict_resolve" obj.pk %}">Resolve Conflict</a></dt>
      </ul>
    </li>
  {% endfor %}
  {% include '_pagination.html' %}
{% endblock %}
