{% extends "_menu.html" %}

{% load i18n %}

{% load bootstrap %}

{% block head_title %}{{ title }}{% endblock %}

{% block full %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <legend>{{ object }} - Invoice{{ object.get_balance }}{% if not object.paid_in_full %} - <a href="{% url "operation_finance:alteration_create" object.slug %}">Settle</a>{% endif %}
                <a href="{% url "operation_finance:invoice_update" object.slug %}" 
                    class="btn btn-default" role="button">Edit
                </a>
            </legend>
            {% if object.paid_in_full %}
                <ul style="color:#ff4000;">Paid</ul> 
            {% elif object.over_paid %} 
                <ul>Over paid by: <strong style="color:#ff4000;">{{ object.balance }}</strong></ul> 
            {% else %}
                <ul>Payment due by: <strong style="color:#ff4000;">{{ object.due_by }}</strong></ul> 
            {% endif %}
            {% if object.conflict %}
                <ul><strong style="color:#ff4000;">Conflict pending!</strong>
                    {% if object.conflict_description %}
                    Reason for conflict: {{ object.conflict_description }}
                    {% endif %}               
                </ul>
            {% endif %}
        </div>
            {% if object.note %}
            <li class="list-group-item">
                <ul>Notes: {{ object.note }}</ul>
            </li>
            {% endif %}
            <li class="list-group-item">
                <ul>Invoice: {{ object.invoice }}</ul>
                <ul>Ledger: {{ object.ledger }}</ul>
                <ul>Invoice ID: {{ object.plu }}</ul>
                <ul>Invoice total: ${{ object.invoice_amount }}</ul>
                <ul>Balance Due: ${{ object.balance }}</ul>     
            </li>
            <li class="list-group-item">
                <ul>
                    <dl>
                      <dt>Payments/Fees:</dt>
                      {% if object.payment_schedule %}
                        <dd>{% autoescape on %}
                                {{ object.payment_schedule | linebreaksbr }}
                            {% endautoescape %}
                        </dd>
                      {% else %}
                        <dd>None</dd>
                      {% endif %}                       
                    </dl>
                </ul>
            </li>         
    </div>

{% endblock %}
