{% extends "list.html" %}

{% block links %}
    <a href="{% url "operation_finance:invoice_create"%}">
      New Invoice
    </a><br>
    <a href="{% url "operation_finance:invoice_lists" "owed" %}">
      Invoices wth Balances
    </a><br>
    <a href="{% url "operation_finance:invoice_lists" "conflicted" %}">
      Invoices wth Conflicts
    </a><br>
    <a href="{% url "operation_finance:invoice_lists" "active" %}">
      All Active Invoices
    </a><br>
    <a href="{% url "operation_finance:invoice_lists" "all" %}">
      All Invoices
    </a>
{% endblock %}

{% block body_options %}
  {% for obj in object_list %}
    <li class="list-group-item">
      <ul>
        <dt><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></dt>
          {% if not obj.paid_in_full %}
          <dd>Balance {% if obj.over_paid %}Over Paid:  $ <a href="{% url "operation_finance:alteration_create" obj.slug %}" style="color:red">{{ obj.get_balance_due }}</a>{% else %}Due:  $ <a href="{% url "operation_finance:alteration_create" obj.slug %}">{{ obj.get_balance_due }}</a> - Due by: {{ obj.due_by }}{% endif %}
          {% endif %}</dt>
      </ul>       
    </li>
  {% endfor %}
  {% include '_pagination.html' %}
{% endblock %}