{% extends "_menu.html" %}

{% load i18n %}

{% load bootstrap %}

{% block head_title %}{{ title }}{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <legend>{{ title }}
                <a href="{% url 'client_signup' %}" 
                class="btn btn-default" role="button">Add
                </a> 
            </legend>
        </div>
    </div>
        {% for client in client_list %}
            <li class="list-group-item">
                <a href="{% url 'client_detail' client.pk %}">
                {{ client.first_name }}{% if client.spouse_name %} and {{ client.spouse_name }}{% endif %} {{ client.last_name }}</a>
                {% if client.account.is_active == False %} - DEACTIVATED
                {% endif %}
                {% if client.account.initial_password %} - Temporary Password: {{ client.account.initial_password }}
                {% endif %}           
            </li>
        {% endfor %}
{% endblock %}
