{% extends "_menu.html" %}

{% load i18n %}

{% load bootstrap %}

{% block head_title %}{{ title }}{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <legend>{{ title }}
                <a href="{% url 'time_log:staff_log_create' %}" 
                class="btn btn-default" role="button">Add
                </a> 
            </legend>
        </div>
        <div class="panel-body">
        {% for obj in object_list %}
            <li class="list-group-item">
                <a href="{{ obj.get_absolute_url }}">{{ obj }}</a>                
            </li>
        {% endfor %}
        </div>
    </div>
{% endblock %}