{% extends "_menu.html" %}

{% load i18n %}

{% load bootstrap %}

{% block head_title %}{{ title }}{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <legend>{{ object }} 
                <a href="{% url "time_log:staff_log_update" object.slug %}" 
                    class="btn btn-default" role="button">Update
                </a>
                {% if request.user.is_superuser %}
                    <a href="{% url "time_log:staff_log_delete" object.slug %}" 
                        class="btn btn-warning" role="button">Delete
                    </a>
                {% endif %}
            </legend>
        </div>
        <div class="list-group">
        <li class="list-group-item">
            <ul>Start time for every {{ object.day }}: {{ object.scheduled_start }}</ul>
            <ul>Start time for every {{ object.day }}: {{ object.scheduled_end }}</ul>
        </li>         
    </div>
    </div>

{% endblock %}