{% extends "list.html" %}

{% block links %}
<a href="{% url 'staff_signup' %}">New Staff</a><br>
{% endblock %}

{% block body_options %}
  {% for staff in staff_list %}
    <li class="list-group-item">
      <ul>
        <dt><a href="{{ staff.get_absolute_url }}">{{ staff.username }}</a> - 
          {% if staff.account.is_active == False %}
           - DEACTIVATED on {{ staff.last_modified }} - 
          {% endif %}
          {% if staff.account.initial_password %}
           Temporary Password: {{ staff.account.initial_password }} -                    
          {% endif %}
          <a href="{% url 'time_log:staff_avail_list' pk=staff.pk %}">Schedule Availability</a>                 
        </dt>
      </ul>
    </li>      
  {% endfor %}
{% endblock %}