{% extends "list.html" %}

{% block links %}
  <a href="{% url 'equipment:base_create' %}">New Category</a>
{% endblock %}

{% block body_options %}
  {% for obj in object_list %}
  <li class="list-group-item">
    <ul>         
      {% if obj.slug != 'personal-tools' %}
      <dt><a href="{% url "equipment:base_update" obj.slug %}">{{ obj }}</a></dt>
      {% else %}
      <dt>{{ obj }}</dt>
      {% endif %}
        <dd><a href="{% url "equipment:job_tool_and_category_list" obj.slug %}">List all</a> ~~ <a href="{% url 'equipment:job_tool_create' obj.slug %}">Add tool to {{ obj.category }}</a></dd>
    </ul>
  </li>
  {% endfor %}
{% endblock %}
