{% extends "_menu.html" %}

{% load i18n %}

{% load bootstrap %}

{% block head_title %}{{ object }}{% endblock %}

{% block full %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <legend><a href="{% url "equipment:job_tool_update" object.slug %}">{{ object }}</a></legend>
                {% include "_delete_option.html" %}
        </div>
    </div>
    <li class="list-group-item">
        <ul>
          <dl>
          {% if object.condition != 'good' %}
            <dt>{{ object.item }} was <strong>{{ object.is_condition }}</strong> on {{ object.incident }}</dt>
          {% endif %}
                <dd>Category: {{ object.base.category }}</dd>
                <dd>Supplier: {{ object.supplier.company }}</dd>
        </ul>
    </li>
{% endblock %}
